@import 'reset/reeeset.min.css';

body {
  margin: 1rem;
  font-size: responsive;
}

h1 {
  text-align: center;
}

section {
  height: 100%;
  lost-utility: clearfix;
  padding: 2rem;
}

div {
  background: lightgray;
  lost-waffle: 1/3;
  padding: 0.5rem;
}

p {
  float: right;
  font-style: italic;
  font-size: small;
  padding: 0.25rem;
}

p.i {
  background: pink;
}

p.g {
  background: yellow;
}

p.h {
  background: lightblue;
}

p.d {
  color: white;
  background: magenta;
}

