@import 'reset/reeeset.min.css';

body {
  margin: 1rem;
  font-size: responsive;
}

section {
  lost-utility: clearfix;
  padding: 2rem;
}

div {
  background: lightgray;
  lost-column: 1/3;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

p {
  padding: 1rem;
  background: pink;
  text-align: center;
}

#fred {
  background: yellow;
}
