extends ./_layout.jade

block title
  title RoLLodeQc: le point

block content
  h1  RoLLodeQc: le point
  section
    div
      h3 Wireframe (avec protobrew)
      p.i Nouveau look

    div
      h3 SearchKit avec ElasticSearch &amp; Lucene
      p.i Nouveau look

    div
      h3 rollodeqc gh search users <img src='https://travis-ci.org/millette/rollodeqc-gh-search-users.svg'>
      p.g Github scrapping

    div
      h3 rollodeqc locator <img src='https://travis-ci.org/millette/rollodeqc-locator.svg'>
      p.h General scrapping

    div
      h3 rollodeqc gh utils <img src='https://travis-ci.org/millette/rollodeqc-gh-utils.svg'>
      p.g Github scrapping

    div
      h3 rollodeqc gh user <img src='https://travis-ci.org/millette/rollodeqc-gh-user.svg'>
      p.g Github scrapping

    div
      h3 rollodeqc gh bookworm <img src='https://travis-ci.org/millette/rollodeqc-gh-bookworm.svg'>
      p.g Github scrapping

    div
      h3 rollodeqc gh users <img src='https://travis-ci.org/millette/rollodeqc-gh-users.svg'>
      p.g Github scrapping

    div
      h3 rollodeqc gh search users all <img src='https://travis-ci.org/millette/rollodeqc-gh-search-users-all.svg'>
      p.g Github scrapping

    div
      h3 generator nm standard <img src='https://travis-ci.org/millette/generator-nm-standard.svg'>
      p.d npm dev
