extends ./_layout.jade

block title
  title RoLLodeQc: le point

block content
  h1  RoLLodeQc: le point
  section
    div
      p Flagadaga.
    div
      p#fred One uptown for a times.
    div
      p One uptown for a times.
