extends ./_layout.jade

mixin module(name)
  div
    h4= name.replace(/-/g, ' ').replace(/^rollodeqc /, '')
    img(src='https://travis-ci.org/millette/#{name}.svg')
    img(src='https://coveralls.io/repos/github/millette/#{name}/badge.svg?branch=master')

block content
  section#intro
    div.logo
      img(src='logo.png' alt='Logo RoLLodeQc')

    div.text
      h1= title
      p Par <a href='http://robin.millette.info/'>Robin Millette</a>
      p
        a(href='http://www.rollodeqc.com/') (voir le prototype
        small  - septembre 2015
        | )

      blockquote «&nbsp;Il était une fois trois petits points qui n'aimaient pas se suivre.&nbsp;»

  section#highlights
    div
      h2 Données GitHub:
      ul
        li: a(href='#modules') Des modules JavaScript
        li Tests unitaires
        li Coverage: vise 100%
        li Et: bitbucket, gitlab...

    div
      h2 Nouveau look:
      ul
        li Avec Protobrew
        li Bootstrap, Foundation?
        li lost + postcss + nextcss?
        li Recherche par facettes

    div
      h2 Prochaines pistes:
      ul
        li Keystone (avec sydjs)
        li Drupal 8 (et CouchDB)
        li SearchKit (ElasticSearch)
        li Nouveaux partenaires

    section#details
      div.t1of3
        h3 Rejoignez l'équipe du RoLLodeQc
        p.
          Plusieurs personnes ont déjà contribué au RoLLodeQc,
          soit avec des conseils, de l'aide profesionnelle ou financièrement.

        p Un grand merci aux personnes suivantes:
        ul
          li: a(href='http://iftbqp.com/') Marco Angles
          li: a(href='http://charactercreator.org/') Frédéric Guimont
          li: a(href='https://www.savoirfairelinux.com/') Savoir-Faire Linux
          li: a(href='http://madmedia.ca/') Heri Rakotomalala

        p Nous sommes d'ailleurs à la recherche des perles rares qui se reconnaitraient parmi:
        ul
          li SysAdmin &amp; DevOps
          li Communications, réseaux sociaux
          li JavaScript (front et backend)
          li Gestion de projet
          li Mise en marché
          li Dons et commanditaires

        p
          a(href='mailto:robin@millette.info') Contactez nous!
            small  (robin@millette.info)

      div.t2of3
        h3 Le marché des logiciels libres au Québec
        p.
          Selon notre dernier recensement des utilisateurs québécois sur GitHub,
          on peut compter sur au moins 10,000 développeurs dans plus de
          100 villes au Québec. Ils se partagent des centaines de milliers
          de projets dans tous les langages de programmations imaginables.

        blockquote.
          «&nbsp;Chaque semaine il se code des milliers de lignes contribuant
          au logiciel libre.&nbsp;»
        h4 Le rôle du RoLLodeQc dans l'écosystème
        p.
          Nous croyons fermement que le temps est venu de mettre les
          projecteurs sur les acteurs du libre au Québec ainsi que sur
          leurs nombreuses réalisations.
        p.
          Avec ses bottins de programmeurs, d'entreprises et de projets,
          avec ses statistiques hebdomadaires couvrant plus de 100 villes
          sur les langages et les licences, nous espérons que le RoLLodeQc
          saura répondre à une partie importante de vos besoins.
        h4 À très bientôt!
        p En espérant que vous adopterez le site et prendrez part à sa communauté.


    h3.modulestitle Les Modules JavaScript (npm)
    section#modules
      +module('generator-nm-standard')
      +module('rollodeqc-gh-search-users')
      +module('rollodeqc-gh-utils')
      +module('rollodeqc-gh-user')
      +module('rollodeqc-gh-bookworm')
      +module('rollodeqc-gh-users')
      +module('rollodeqc-gh-search-users-all')
      +module('rollodeqc-locator')

  footer
    p Les sources de cette page se trouvent sur
      a(href="https://github.com/millette/rollodeqc-wassup")  GitHub dans
        code  millette/rollodeqc-wassup

    p
      a(href='mailto:robin@millette.info') Contactez nous!
        small  (robin@millette.info)
